# EditorConfig is awesome: http://EditorConfig.org
# Template from: https://github.com/DecimalTurn/VBA-on-GitHub

# top-most EditorConfig file
root = true

# Properties for VBA, VB6 and twinBASIC file extensions
[*.{bas,cls,frm,vba,doccls,ctl,dsr,twin,tbform}]
indent_style = space
indent_size = 4
end_of_line = crlf
# Avoid line too long error (https://learn.microsoft.com/en-us/office/vba/language/reference/user-interface-help/line-too-long):
max_line_length = 1023
insert_final_newline = true
trim_trailing_whitespace = true

# The character set property isn't widely supported, but you can still add it. It just won't do anything if unsupported by your editor.
# Reference: https://github.com/editorconfig/editorconfig/issues/209#issuecomment-445241830
# Eg.:
# charset = windows-1252
# charset = us-ascii