#Out file is required by command
#`npm run textMate`, so a placeholder is included in client/out to ensure `out`
#folder is available
**/out/*
!client/out/*.tmp
client/src/syntaxes/dev*

.antlr
node_modules
client/server
template*
.vscode-test
sample*/**
*.vsix
*.tsbuildinfo
*.log