# Project
.gitignore
.eslintignore
.vscode/**
.travis.yml
**/tsconfig.json
**/tsconfig.base.json
contributing.md

# Development
**/src

# # Typescript
**/*.ts
**/*.map

# Generated
.antlr
*.java
*.interp
*.tokens
*.vsix

# Samples and testing
sample*/**
**/test/**
**/testFixture/**

# Client node modules
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
