# Project
.gitignore
contributing.md
.vscode/**
**/tsconfig.json
**/tsconfig.base.json
.travis.yml

# Typescript
**/*.ts
**/*.map

# Generated
.antlr

# Samples and testing
.vscode-test
sample*/**

# Client node modules
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**