# Project
.bin
.gitignore
.github/**
.eslintignore
.vscode/**
.travis.yml
scripts/**
**/tsconfig.json
**/tsconfig.base.json
contributing.md
template*

# Development
**/src

# # Typescript
**/*.ts
**/*.map

# Generated
.antlr
*.java
*.interp
*.tokens
*.vsix
*.tsbuildinfo
*.log

# Samples and testing
sample*/**
**/test/**
**/testFixture/**

# Node modules
node_modules/**

# Client node modules
client/node_modules/**

# Server node modules
server/node_modules/**

# Extension bundle
!dist/**